$headerHeight: 64px;

.ruler {
	display: none;
	position: relative;
	background: #f0f0f0;

	@media only screen and (min-width: 1200px) {
		display: block;
	}
}

.ruler__buttons {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 8px 0;
}

.ruler__buttons-group {
	display: flex;
	margin: 0 16px;
	border-radius: 6px;
	overflow: hidden;
}

.ruler__button {
	width: 24px;
	height: 24px;
	padding: 8px;
	cursor: pointer;
	background: #ffffff;

	&:hover,
	&:active {
		svg {
			fill: #000000;
		}
	}

	svg {
		fill: #939393;
		width: 24px;
		height: 24px;
	}
}

.ruler__button--rotate {
	svg {
		transform: rotate(270deg);
	}
}

.ruler__button--active {
	svg {
		fill: #000000;
	}
}

.ruler__screens-line {
	height: 28px;
	bottom: 0;
	position: relative;
	background: #cecece;
}

.ruler__screen-button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	min-height: 28px;
	margin: 0 auto;
	padding: 4px 0;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	&:first-of-type {
		border: 0 none;
	}

	&:hover,
	&--active:hover {
		background: #939393;
		color: #333333;
	}

	&--active {
		background: #B3B3B3;
		color: #333333;
	}
}

.content {
	margin: 0 auto;
	width: 100%;
}

.content__frame {
	opacity: 1;
	width: 100%;
	height: calc(100vh - #{$headerHeight});
	margin: 0;
	border: 0;
	transition: opacity .3s ease .1s;
}
