{
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/no-unknown-property": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
  },
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended"
  ]
}