
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~letun/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~letun/wordpress/index.php [L]
</IfModule>
# END WordPress

<Files xmlrpc.php>
Order Allow,Deny
Deny from all
</Files>
