.post-type-lettera .block-editor-writing-flow {
  /* Windows Phone Viewport Fix */
  background: #F2F4F8; }
  .post-type-lettera .block-editor-writing-flow body,
  .post-type-lettera .block-editor-writing-flow table.body,
  .post-type-lettera .block-editor-writing-flow h1,
  .post-type-lettera .block-editor-writing-flow h2,
  .post-type-lettera .block-editor-writing-flow h3,
  .post-type-lettera .block-editor-writing-flow h4,
  .post-type-lettera .block-editor-writing-flow h5,
  .post-type-lettera .block-editor-writing-flow h6,
  .post-type-lettera .block-editor-writing-flow p,
  .post-type-lettera .block-editor-writing-flow td,
  .post-type-lettera .block-editor-writing-flow th {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: #0A0A0A;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 24px;
    text-align: left; }
  .post-type-lettera .block-editor-writing-flow h1,
  .post-type-lettera .block-editor-writing-flow h2,
  .post-type-lettera .block-editor-writing-flow h3,
  .post-type-lettera .block-editor-writing-flow h4,
  .post-type-lettera .block-editor-writing-flow h5,
  .post-type-lettera .block-editor-writing-flow h6 {
    margin-bottom: 16px;
    color: #0A0A0A;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    word-wrap: normal; }
  .post-type-lettera .block-editor-writing-flow h1 {
    font-size: 32px;
    line-height: 40px; }
  .post-type-lettera .block-editor-writing-flow .h1--superhead {
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase; }
  .post-type-lettera .block-editor-writing-flow h2 {
    font-size: 24px;
    line-height: 32px; }
  .post-type-lettera .block-editor-writing-flow h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px; }
  .post-type-lettera .block-editor-writing-flow h4,
  .post-type-lettera .block-editor-writing-flow h5,
  .post-type-lettera .block-editor-writing-flow h6 {
    font-size: 16px;
    line-height: 24px; }
  .post-type-lettera .block-editor-writing-flow body,
  .post-type-lettera .block-editor-writing-flow table.body,
  .post-type-lettera .block-editor-writing-flow p,
  .post-type-lettera .block-editor-writing-flow td,
  .post-type-lettera .block-editor-writing-flow th {
    font-size: 16px;
    line-height: 24px; }
  .post-type-lettera .block-editor-writing-flow p {
    margin-bottom: 16px; }
  .post-type-lettera .block-editor-writing-flow ul,
  .post-type-lettera .block-editor-writing-flow ol {
    margin-bottom: 16px;
    padding-left: 20px; }
    .post-type-lettera .block-editor-writing-flow ul li,
    .post-type-lettera .block-editor-writing-flow ol li {
      margin-bottom: 8px; }
  .post-type-lettera .block-editor-writing-flow small,
  .post-type-lettera .block-editor-writing-flow .small {
    font-size: 14px;
    line-height: 24px; }
  .post-type-lettera .block-editor-writing-flow a,
  .post-type-lettera .block-editor-writing-flow .link {
    padding: 0;
    color: #2199E8;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    text-decoration: none; }
    .post-type-lettera .block-editor-writing-flow a:hover,
    .post-type-lettera .block-editor-writing-flow a:hover .link,
    .post-type-lettera .block-editor-writing-flow .link:hover,
    .post-type-lettera .block-editor-writing-flow .link:hover .link {
      color: #147DC2; }
    .post-type-lettera .block-editor-writing-flow a:active,
    .post-type-lettera .block-editor-writing-flow a:active .link,
    .post-type-lettera .block-editor-writing-flow .link:active,
    .post-type-lettera .block-editor-writing-flow .link:active .link {
      color: #147DC2; }
    .post-type-lettera .block-editor-writing-flow a:visited,
    .post-type-lettera .block-editor-writing-flow a:visited .link,
    .post-type-lettera .block-editor-writing-flow .link:visited,
    .post-type-lettera .block-editor-writing-flow .link:visited .link {
      color: #2199E8; }
  .post-type-lettera .block-editor-writing-flow .text-gray {
    color: #979797; }
  .post-type-lettera .block-editor-writing-flow span.preheader {
    display: none !important;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    color: #F2F4F8;
    font-size: 1px;
    line-height: 1px;
    mso-hide: all !important; }

@-ms-viewport {
  .post-type-lettera .block-editor-writing-flow {
    width: device-width; } }
  .post-type-lettera .block-editor-writing-flow #outlook a {
    padding: 0; }
  .post-type-lettera .block-editor-writing-flow body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    min-width: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  .post-type-lettera .block-editor-writing-flow .ExternalClass {
    width: 100%; }
    .post-type-lettera .block-editor-writing-flow .ExternalClass,
    .post-type-lettera .block-editor-writing-flow .ExternalClass p,
    .post-type-lettera .block-editor-writing-flow .ExternalClass span,
    .post-type-lettera .block-editor-writing-flow .ExternalClass font,
    .post-type-lettera .block-editor-writing-flow .ExternalClass td,
    .post-type-lettera .block-editor-writing-flow .ExternalClass th,
    .post-type-lettera .block-editor-writing-flow .ExternalClass div {
      line-height: 100%; }
  .post-type-lettera .block-editor-writing-flow table {
    border-spacing: 0;
    border-collapse: collapse; }
  .post-type-lettera .block-editor-writing-flow td,
  .post-type-lettera .block-editor-writing-flow th {
    border-collapse: collapse !important;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  .post-type-lettera .block-editor-writing-flow table,
  .post-type-lettera .block-editor-writing-flow tr,
  .post-type-lettera .block-editor-writing-flow td,
  .post-type-lettera .block-editor-writing-flow th {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    vertical-align: top; }
  .post-type-lettera .block-editor-writing-flow img {
    display: block;
    clear: both;
    width: auto;
    max-width: 100%;
    border: 0;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic; }
  .post-type-lettera .block-editor-writing-flow a img {
    border: none; }
  .post-type-lettera .block-editor-writing-flow table.text-center,
  .post-type-lettera .block-editor-writing-flow th.text-center,
  .post-type-lettera .block-editor-writing-flow td.text-center,
  .post-type-lettera .block-editor-writing-flow h1.text-center,
  .post-type-lettera .block-editor-writing-flow h2.text-center,
  .post-type-lettera .block-editor-writing-flow h3.text-center,
  .post-type-lettera .block-editor-writing-flow h4.text-center,
  .post-type-lettera .block-editor-writing-flow h5.text-center,
  .post-type-lettera .block-editor-writing-flow h6.text-center,
  .post-type-lettera .block-editor-writing-flow p.text-center,
  .post-type-lettera .block-editor-writing-flow span.text-center {
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow table.text-left,
  .post-type-lettera .block-editor-writing-flow th.text-left,
  .post-type-lettera .block-editor-writing-flow td.text-left,
  .post-type-lettera .block-editor-writing-flow h1.text-left,
  .post-type-lettera .block-editor-writing-flow h2.text-left,
  .post-type-lettera .block-editor-writing-flow h3.text-left,
  .post-type-lettera .block-editor-writing-flow h4.text-left,
  .post-type-lettera .block-editor-writing-flow h5.text-left,
  .post-type-lettera .block-editor-writing-flow h6.text-left,
  .post-type-lettera .block-editor-writing-flow p.text-left,
  .post-type-lettera .block-editor-writing-flow span.text-left {
    text-align: left; }
  .post-type-lettera .block-editor-writing-flow table.text-right,
  .post-type-lettera .block-editor-writing-flow th.text-right,
  .post-type-lettera .block-editor-writing-flow td.text-right,
  .post-type-lettera .block-editor-writing-flow h1.text-right,
  .post-type-lettera .block-editor-writing-flow h2.text-right,
  .post-type-lettera .block-editor-writing-flow h3.text-right,
  .post-type-lettera .block-editor-writing-flow h4.text-right,
  .post-type-lettera .block-editor-writing-flow h5.text-right,
  .post-type-lettera .block-editor-writing-flow h6.text-right,
  .post-type-lettera .block-editor-writing-flow p.text-right,
  .post-type-lettera .block-editor-writing-flow span.text-right {
    text-align: right; }
  .post-type-lettera .block-editor-writing-flow span.text-center {
    display: block;
    width: 100%;
    text-align: center; }
  @media only screen {
    .post-type-lettera .block-editor-writing-flow html {
      min-height: 100%;
      background: #F2F4F8; } }
  .post-type-lettera .block-editor-writing-flow table.body {
    width: 100%;
    height: 100%;
    background: #F2F4F8; }
    .post-type-lettera .block-editor-writing-flow table.body td.body-inner {
      padding-right: 8px !important;
      padding-left: 8px !important; }
  .post-type-lettera .block-editor-writing-flow table.container {
    width: 100%;
    max-width: 648px;
    margin: 0 auto 24px;
    border-radius: 16px;
    background: #FFFFFF;
    text-align: inherit; }
    @media only screen and (min-width: 541px) {
      .post-type-lettera .block-editor-writing-flow table.container {
        margin-bottom: 32px; } }
    @media only screen and (max-width: 648px) {
      .post-type-lettera .block-editor-writing-flow table.container {
        width: 95% !important; } }
    .post-type-lettera .block-editor-writing-flow table.container td.container-inner {
      padding-top: 24px !important;
      padding-right: 8px !important;
      padding-left: 8px !important; }
      @media only screen and (min-width: 541px) {
        .post-type-lettera .block-editor-writing-flow table.container td.container-inner {
          padding-top: 32px !important;
          padding-right: 16px !important;
          padding-left: 16px !important; } }
  .post-type-lettera .block-editor-writing-flow table.row {
    position: relative;
    width: 100%;
    padding: 0 !important; }
    .post-type-lettera .block-editor-writing-flow table.row td.row-inner {
      padding: 0 !important; }
  .post-type-lettera .block-editor-writing-flow table.column {
    position: relative;
    width: 100%;
    padding: 0 !important; }
    .post-type-lettera .block-editor-writing-flow table.column td.column-inner {
      margin: 0 auto;
      padding-right: 16px !important;
      padding-bottom: 16px !important;
      padding-left: 16px !important; }
  .post-type-lettera .block-editor-writing-flow table.spacer {
    width: 100%; }
    .post-type-lettera .block-editor-writing-flow table.spacer td {
      mso-line-height-rule: exactly; }
  .post-type-lettera .block-editor-writing-flow div.columns {
    width: 100%;
    font-size: 0; }
  .post-type-lettera .block-editor-writing-flow div.column {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    vertical-align: top; }
    @media screen and (max-width: 541px) {
      .post-type-lettera .block-editor-writing-flow div.column {
        max-width: 100% !important; } }
    @media screen and (min-width: 542px) {
      .post-type-lettera .block-editor-writing-flow div.column {
        max-width: 50% !important; } }
  .post-type-lettera .block-editor-writing-flow table.text-center,
  .post-type-lettera .block-editor-writing-flow th.text-center,
  .post-type-lettera .block-editor-writing-flow td.text-center,
  .post-type-lettera .block-editor-writing-flow h1.text-center,
  .post-type-lettera .block-editor-writing-flow h2.text-center,
  .post-type-lettera .block-editor-writing-flow h3.text-center,
  .post-type-lettera .block-editor-writing-flow h4.text-center,
  .post-type-lettera .block-editor-writing-flow h5.text-center,
  .post-type-lettera .block-editor-writing-flow h6.text-center,
  .post-type-lettera .block-editor-writing-flow p.text-center,
  .post-type-lettera .block-editor-writing-flow span.text-center {
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow table.text-left,
  .post-type-lettera .block-editor-writing-flow th.text-left,
  .post-type-lettera .block-editor-writing-flow td.text-left,
  .post-type-lettera .block-editor-writing-flow h1.text-left,
  .post-type-lettera .block-editor-writing-flow h2.text-left,
  .post-type-lettera .block-editor-writing-flow h3.text-left,
  .post-type-lettera .block-editor-writing-flow h4.text-left,
  .post-type-lettera .block-editor-writing-flow h5.text-left,
  .post-type-lettera .block-editor-writing-flow h6.text-left,
  .post-type-lettera .block-editor-writing-flow p.text-left,
  .post-type-lettera .block-editor-writing-flow span.text-left {
    text-align: left; }
  .post-type-lettera .block-editor-writing-flow table.text-right,
  .post-type-lettera .block-editor-writing-flow th.text-right,
  .post-type-lettera .block-editor-writing-flow td.text-right,
  .post-type-lettera .block-editor-writing-flow h1.text-right,
  .post-type-lettera .block-editor-writing-flow h2.text-right,
  .post-type-lettera .block-editor-writing-flow h3.text-right,
  .post-type-lettera .block-editor-writing-flow h4.text-right,
  .post-type-lettera .block-editor-writing-flow h5.text-right,
  .post-type-lettera .block-editor-writing-flow h6.text-right,
  .post-type-lettera .block-editor-writing-flow p.text-right,
  .post-type-lettera .block-editor-writing-flow span.text-right {
    text-align: right; }
  .post-type-lettera .block-editor-writing-flow span.text-center {
    display: block;
    width: 100%;
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow img.float-left {
    float: left;
    text-align: left; }
  .post-type-lettera .block-editor-writing-flow img.float-right {
    float: right;
    text-align: right; }
  .post-type-lettera .block-editor-writing-flow img.float-center,
  .post-type-lettera .block-editor-writing-flow img.text-center {
    float: none;
    margin: 0 auto;
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow td.float-center,
  .post-type-lettera .block-editor-writing-flow th.float-center {
    float: none;
    margin: 0 auto;
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow table.float-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .post-type-lettera .block-editor-writing-flow table.button {
    width: 100%;
    margin: 0 0 16px 0; }
    @media only screen and (min-width: 541px) {
      .post-type-lettera .block-editor-writing-flow table.button {
        width: auto !important;
        min-width: 220px; } }
    .post-type-lettera .block-editor-writing-flow table.button table {
      width: 100%; }
      .post-type-lettera .block-editor-writing-flow table.button table td {
        color: #000000;
        text-align: center; }
        .post-type-lettera .block-editor-writing-flow table.button table td a {
          display: inline-block;
          color: #000000;
          font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-weight: 500;
          text-align: center;
          text-decoration: none; }
  .post-type-lettera .block-editor-writing-flow table.button:hover table tr td a,
  .post-type-lettera .block-editor-writing-flow table.button:active table tr td a,
  .post-type-lettera .block-editor-writing-flow table.button table tr td a:visited {
    color: #000000; }
  .post-type-lettera .block-editor-writing-flow table.button--primary {
    width: 100%;
    margin: 0 0 16px 0;
    max-width: 360px !important; }
    @media only screen and (min-width: 541px) {
      .post-type-lettera .block-editor-writing-flow table.button--primary {
        width: auto !important;
        min-width: 220px; } }
    .post-type-lettera .block-editor-writing-flow table.button--primary table {
      width: 100%; }
      .post-type-lettera .block-editor-writing-flow table.button--primary table td {
        color: #000000;
        text-align: center; }
        .post-type-lettera .block-editor-writing-flow table.button--primary table td a {
          display: inline-block;
          color: #000000;
          font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-weight: 500;
          text-align: center;
          text-decoration: none; }
    .post-type-lettera .block-editor-writing-flow table.button--primary table {
      border-radius: 4px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08); }
      .post-type-lettera .block-editor-writing-flow table.button--primary table td {
        padding-right: 0 !important;
        padding-left: 0 !important;
        border: none;
        border-radius: 4px;
        background: #0A0A0A; }
        .post-type-lettera .block-editor-writing-flow table.button--primary table td a {
          box-sizing: border-box;
          width: 100%;
          padding: 16px 32px 16px 32px;
          border: 0 solid #0A0A0A;
          border-radius: 4px;
          color: #FFFFFF; }
        .post-type-lettera .block-editor-writing-flow table.button--primary table td a:visited {
          color: #FFFFFF; }
  .post-type-lettera .block-editor-writing-flow table.button--primary:hover table td,
  .post-type-lettera .block-editor-writing-flow table.button--primary:visited table td,
  .post-type-lettera .block-editor-writing-flow table.button--primary:active table td {
    background: #303030; }
  .post-type-lettera .block-editor-writing-flow table.button--primary:hover table a,
  .post-type-lettera .block-editor-writing-flow table.button--primary:visited table a,
  .post-type-lettera .block-editor-writing-flow table.button--primary:active table a {
    border: 0 solid #242424;
    background: #303030;
    color: #FFFFFF; }
  .post-type-lettera .block-editor-writing-flow table.button--yellow {
    width: 100%;
    margin: 0 0 16px 0;
    max-width: 360px !important; }
    @media only screen and (min-width: 541px) {
      .post-type-lettera .block-editor-writing-flow table.button--yellow {
        width: auto !important;
        min-width: 220px; } }
    .post-type-lettera .block-editor-writing-flow table.button--yellow table {
      width: 100%; }
      .post-type-lettera .block-editor-writing-flow table.button--yellow table td {
        color: #000000;
        text-align: center; }
        .post-type-lettera .block-editor-writing-flow table.button--yellow table td a {
          display: inline-block;
          color: #000000;
          font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-weight: 500;
          text-align: center;
          text-decoration: none; }
    .post-type-lettera .block-editor-writing-flow table.button--yellow table {
      border-radius: 4px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08); }
      .post-type-lettera .block-editor-writing-flow table.button--yellow table td {
        padding-right: 0 !important;
        padding-left: 0 !important;
        border: none;
        border-radius: 4px;
        background: #0A0A0A; }
        .post-type-lettera .block-editor-writing-flow table.button--yellow table td a {
          box-sizing: border-box;
          width: 100%;
          padding: 16px 32px 16px 32px;
          border: 0 solid #0A0A0A;
          border-radius: 4px;
          color: #FFFFFF; }
        .post-type-lettera .block-editor-writing-flow table.button--yellow table td a:visited {
          color: #FFFFFF; }
    .post-type-lettera .block-editor-writing-flow table.button--yellow table td {
      background: #FAE053;
      color: #000000; }
      .post-type-lettera .block-editor-writing-flow table.button--yellow table td a {
        color: #000000; }
      .post-type-lettera .block-editor-writing-flow table.button--yellow table td a:visited {
        color: #000000; }
  .post-type-lettera .block-editor-writing-flow table.button--yellow:hover table td,
  .post-type-lettera .block-editor-writing-flow table.button--yellow:visited table td,
  .post-type-lettera .block-editor-writing-flow table.button--yellow:active table td {
    background: #fbe985;
    color: #000000; }
    .post-type-lettera .block-editor-writing-flow table.button--yellow:hover table td a,
    .post-type-lettera .block-editor-writing-flow table.button--yellow:visited table td a,
    .post-type-lettera .block-editor-writing-flow table.button--yellow:active table td a {
      background: #fbe985;
      color: #000000; }
  .post-type-lettera .block-editor-writing-flow table.button--yellow:active table td a {
    color: #000000; }
  .post-type-lettera .block-editor-writing-flow table.button--white {
    width: 100%;
    margin: 0 0 16px 0; }
    @media only screen and (min-width: 541px) {
      .post-type-lettera .block-editor-writing-flow table.button--white {
        width: auto !important;
        min-width: 220px; } }
    .post-type-lettera .block-editor-writing-flow table.button--white table {
      width: 100%; }
      .post-type-lettera .block-editor-writing-flow table.button--white table td {
        color: #000000;
        text-align: center; }
        .post-type-lettera .block-editor-writing-flow table.button--white table td a {
          display: inline-block;
          color: #000000;
          font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-weight: 500;
          text-align: center;
          text-decoration: none; }
    .post-type-lettera .block-editor-writing-flow table.button--white table td a {
      color: #FFFFFF !important; }
  .post-type-lettera .block-editor-writing-flow table.background-black {
    background: #000000; }
    .post-type-lettera .block-editor-writing-flow table.background-black table.body,
    .post-type-lettera .block-editor-writing-flow table.background-black h1,
    .post-type-lettera .block-editor-writing-flow table.background-black h2,
    .post-type-lettera .block-editor-writing-flow table.background-black h3,
    .post-type-lettera .block-editor-writing-flow table.background-black h4,
    .post-type-lettera .block-editor-writing-flow table.background-black h5,
    .post-type-lettera .block-editor-writing-flow table.background-black h6,
    .post-type-lettera .block-editor-writing-flow table.background-black p,
    .post-type-lettera .block-editor-writing-flow table.background-black td,
    .post-type-lettera .block-editor-writing-flow table.background-black th {
      color: #FFFFFF; }
  .post-type-lettera .block-editor-writing-flow table.background-yellow {
    background: #FAE053; }
  .post-type-lettera .block-editor-writing-flow table.background-blue {
    background: #D3EEFF; }
  .post-type-lettera .block-editor-writing-flow table.background-gray {
    background: #F8F8F8; }
