div[data-type="lettera/block-cards"] {
	.columns {
		.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;

			div[data-type="lettera/card"] {
				width: 50%;

				.card {
					border: 0 none;
					box-shadow: none;

					.card__text {
						margin-top: 16px;
					}

					.card__link {
						display: none;
					}

					.card__link--admin {
						display: block;

						input {
							color: #2199E8;
							border: 0 none;
							padding: 0;
							width: auto;
							outline: none;
							font-size: 16px;
							box-shadow: none;

							&:focus {
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}
}